<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ site_title }}{% endblock %}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="{{ base }}style.css" type="text/css">
{% block head_extra %}{% endblock -%}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}{% endblock %}
  <footer class="blog-footer">
    <span>Built with <a href="https://math.nist.gov/~BMiller/LaTeXML/">LaTeXML</a>.</span>
  </footer>
</body>
</html>
